{% extends "base.html" %}
{% block content %}
<div class="auth-grid">
  <form class="card form" method="POST" action="{{ url_for('login') }}">
    <h2>Admin</h2>
    <input type="hidden" name="role" value="admin">
    <label>Username</label>
    <input name="username" placeholder="admin" required>
    <label>Password</label>
    <input name="password" type="password" placeholder="••••••••••" required>
    <button type="submit">Login as Admin</button>
  </form>

  <form class="card form" method="POST" action="{{ url_for('login') }}">
    <h2>Client</h2>
    <input type="hidden" name="role" value="client">
    <label>Username</label>
    <input name="username" placeholder="client" required>
    <label>Password</label>
    <input name="password" type="password" placeholder="••••••••••" required>
    <button type="submit">Login as Client</button>
  </form>
</div>
{% endblock %}
